# MongoDB Connection URI
MONGODB_URI=

# Google OAuth Credentials
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Secret key used to encrypt and sign JWT session tokens
JWT_SECRET=

# Redis session and rate limit store connection URL
REDIS_URL=
